:root {
  --red: #ff3838;
  --blue: #1494a9;
  --black: #000000;
  --white: #ffffff;
  --green: #11b76b;
  --gray-1: #fafcff;
  --gray-2: #f5f5f5;
  --gray-3: #ececec;
  --purple: #b12fad;
  --orange: #e86121;
  --yellow: #ffb100;
  --indigo: #6610f2;
  --body: #f8f7f6;
  --line: #E6E6E6;
  --border: #E3E2E1;
  --primary: #FA5E01;
  --secondary: #0C1028;
  --text-black: #41403F;
  --text-slate: #ECECEC;
  --primary-slate: #FFF9F5;
  --facebook: #3b5998;
  --linkedin: #0e76a8;
  --twitter: #00acee;
  --google: #E60023;
  --instagram: #F77737;
  --whatsapp: #25D366;
  --pinterest: #f0002a;
  --youtube: #FF0000;
}

.about-part {
  padding-block: 100px;
}
@media (max-width: 991px) {
  .about-part {
    padding-block: 80px;
  }
}
@media (max-width: 767px) {
  .about-part {
    padding-block: 60px;
  }
}

.about-content {
  width: 900px;
  padding: 40px 30px;
  border-radius: 4px;
  margin-top: 120px;
  background-color: var(--white);
}
@media (max-width: 1199px) {
  .about-content {
    width: 770px;
    margin-top: 80px;
  }
}
@media (max-width: 991px) {
  .about-content {
    width: 100%;
    margin-top: 40px;
  }
}
.about-content .section-title {
  margin-bottom: 30px;
}
.about-content p {
  width: 100%;
  max-width: 450px;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 1199px) {
  .about-content p {
    max-width: 418px;
  }
}
@media (max-width: 991px) {
  .about-content p {
    max-width: 100%;
  }
}

.about-media img {
  width: 100%;
  border-radius: 4px;
}

.history-part {
  background-image: url("../../images/03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.history-overlay {
  padding: 60px 0px;
  background-color: rgba(0, 0, 0, 0.65);
}

.history-content .section-title {
  margin-bottom: 70px;
  color: var(--white);
}
.history-content h3 {
  color: var(--white);
  margin-bottom: 32px;
  text-transform: capitalize;
}
.history-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: var(--white);
}
@media (max-width: 767px) {
  .history-content p {
    margin-bottom: 50px;
  }
}

.vision-part {
  padding-block: 100px;
}
@media (max-width: 991px) {
  .vision-part {
    padding-block: 80px;
  }
}
@media (max-width: 767px) {
  .vision-part {
    padding-block: 60px;
  }
}

.vision-content {
  border-radius: 4px;
  padding: 40px 30px;
  background-color: var(--white);
}
.vision-content .section-title {
  margin-bottom: 16px;
}
.vision-content p {
  font-size: 18px;
  line-height: 30px;
}