.blog-part {
  padding-top: 90px;
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .blog-part {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .blog-part {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.blog-card {
  margin-bottom: 30px;
}